In [5]:
import pandas as pd
df = pd.read_excel('/data/course_data/data_analysis/forbes_2018.xlsx')
'''
数据详情：name-名字、lastName-姓、age-年龄、country-国家、 gender-性别、wealthSource-财富来源。
根据结果我们了解到，共有2031条数据，那么在这些富翁中男女比例是多少呢？
要解决这个问题，我们最好的办法就是根据性别分成男女两组，然后分别计算他们的人数，从而计算他们的占比。
Pandas提供了一个灵活高效的groupby功能，它使你能以一种自然的方式对数据集进行切片、切块、摘要等操作。
我们一起看下如何使用groupby()方法根据性别将富翁们进行分组，运行下方代码，查看结果。
'''
print(df.head())
print(df.shape)
# 根据gender列进行分组
groups = df.groupby('gender')
print(groups)
total = df.groupby("country")
print(total.size())
'''
df.groupby('gender')是根据gender列对整个数据进行分组，同样我们也可以只对一列数据进行分组，只保留我们需要的列数据。
'''
for gender,value in group.size().items():
    # 计算每组的占比
    accounted = value/df.shape[0]
    # 将小数转化成百分数
    bb = "%.2f%%" % (accounted * 100)
    print('福布斯2018年度亿万富翁中{}共{}位，占比是{}'.format(gender,value, bb))

# 代码df['age'].groupby(df['gender'])的逻辑是：取出df中age列数据，
# 并且对该列数据根据df['gender']列数据进行分组操作。
group = df['age'].groupby(df['gender'])
# 查看分组
print(group.groups)
# 根据分组后的名字选择分组
'''
df.groupby('gender')是根据gender列对整个数据进行分组，同样我们也可以只对一列数据进行分组，只保留我们需要的列数据。
例如：我们通过性别gender，只对age列数据进行分组。

可改写成df.groupby(df['gender'])['age']，
它的逻辑是：将df数据通过df['gender']进行分组，然后再取出分组后的age列数据。两种写法达到的效果是一样的。
group.groups的结果是一个字典，字典的key是分组后每个组的名字，对应的值是分组后的数据，此方法方便我们产看分组的情况。
group.get_group('F')这个方法可以根据具体分组的名字获取，每个组的数据。
将分组后的对象groups进行遍历，可以获取到group_name每个组的名字，group_df每个组的数据。
接下来我们自己在下面代码框中练习使用遍历的方法，计算出每一组中的最大年纪，最小年纪以及平均年龄。
'''
print(group.get_group('F'))
# 获取F组的数据
f_group = groups.get_group('F')
# 获取平均值
f_mean = f_group['age'].mean()
# 获取最大值
f_max = f_group['age'].max()
# 获取最小值
f_min = f_group['age'].min()
print(f_mean,f_max,f_min)
for group_name,group_df in groups:
    f_mean = group_df['age'].mean()
    f_max = group_df['age'].max()
    f_min = group_df['age'].min()
    print('{}组的最大年龄是{}，最小年龄是{}，平均年龄是{}'.format(group_name,f_max,f_min,f_mean))
    print(group_name,group_df.shape)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3